.bg{
    background-color:#86d2f2;
    height:100vh;
}
.main-heading{
    font-family:"roboto";
    text-align:center;
}
.light-button{
    background-color:#1f1d41;
    border-radius:5px;
    margin:20px;
    color:white;
    border-width:0px;

}
.light-img{
    background-color:#1f1d41;
    height:200px;
    width:80px;
    border-radius:20px;
    padding:10px;
}
.light-circle{
    height:50px;
    width:50px;
    border-radius:50px;
    background-color:#4b5069;
    margin-left:5px;
    
}